.movie-card {
  width: 24rem;
  height: 32rem;
}

@media screen and (max-width: 768px) {
  .movie-card {
    width: 18rem;
    height: 18rem;
  }
  .header-title {
    font-size: 24px;
    margin-top: 8px !important;
  }
  .movie-card {
    margin-top: 3px !important;
  }
}
