@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");

.header {
  width: 100%;
  height: auto;
  background-color: black;
  padding: 0 20px;
  box-sizing: border-box;
}

.header-content {
  max-width: 1280px;
  height: 60px;

  padding: 10px 0px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.movie-den-logo {
  color: white;
  font-family: "Cinzel Decorative", cursive;

  font-size: 25px;
}
.movie-den-logo:hover {
  color: white;
}

.rmdb-logo {
  width: 200px;
  margin-top: 20px;
  float: left;
}
